<%- include('header'); -%>

<div class="container m-auto">
	<br>
	<div class="line-height-lg  col-lg-10 m-auto d-block">
		<span class="h1 pt-5 d-block m-auto"><%=article.heading%></span>
	 	<span  class="form-text  d-block fst-italic fs-4 text-end">— <%=writerUname%></span>
	</div>
	<div class="fs-4 fw-lighter line-height-lg  col-lg-10 col-11 m-auto d-block fst-italic pt-3 pb-5 mb-5">&nbsp&nbsp<%=article.article%></div>
</div>

<%- include('footer'); -%>