<%- include('header'); -%>
<div class=" text-white bg-<%=value%> m-auto col-md-5 col-10 mt-5 py-3 text-center rounded-3">
			<h3><%=message %></h3> 
			<br>
			<a href="<%=refer%>" class="w-50 h3 btn btn-md btn-outline-light" >Go to <%=referto%> page</a>
	</div>
<%- include('footer'); -%>